/* navbar 1700-1081 */

@media only screen and (max-width: 1700px) and (min-width: 1081px) {

    .navbar .logo {
        margin: 16px 40px;
    }
    .navbar-menu {
        width: 690px;
        margin: 0 45px;
        gap: 10px;
    }

    .navbar-menu a {
        font-size: 20px;
        margin-left: 0px;
        display: flex;
    }

    .navbar button {
        font-size: 20px;
        width: 300px;
        display: flex;
        margin: 0 20px 0;
        padding: 10px 25px;
    }
}

/* navbar 1081-900 */

@media only screen and (max-width: 1080px) and (min-width: 900px) {

    .navbar {height: 120px;}

    .navbar .logo {
        margin: 16px 20px;
    }
    .navbar-menu {
        width: 95%;
        margin: 0;
        gap: 10px;
    }

    .navbar-menu a {
        font-size: 15px;
        margin-left: 0px;
        display: flex;
    }

    .navbar button {
        font-size: 15px;
        width: 400px;
        display: flex;
        margin: 0 20px 0;
        padding: 10px 25px;
    }
}

/* navbar 900-600 */

@media only screen and (max-width: 900px) and (min-width: 600px) {

    .navbar {height: 100px;}

    .navbar .logo {
        margin: 16px 5px;
        height: 90px;
        width: 120px;
    }
    .navbar-menu {
        width: 95%;
        margin: 0;
        gap: 5px;
    }

    .navbar-menu a {
        font-size: 11px;
        margin: 0px;
        display: flex;
    }

    .navbar button {
        font-size: 12px;
        width: 300px;
        display: flex;
        margin: 0 20px 0;
        padding: 0px 5px;
    }
}

/* navbar 600-300 */

@media only screen and (max-width: 600px) and (min-width: 300px) {

    .navbar {
        height: 80px;
        justify-content: space-between;
    }

    .navbar .logo {
        margin: 0 0 0 20px;
        height: 80px;
        width: 120px;
    }

    .phone-version {
        display: flex;
        gap: 10px;
        justify-content: flex-end;
        cursor: pointer;
        margin: 0 20px 0 0;
    }

    .navbar-menu {
        display: none;
    }

    .navbar button {
        display: none;
    }

    /* main content */

    .main-content {
        display: flex;
        flex-direction: column-reverse;
        font-size: 5px;
        width: 100%;
        height: 750px;
        margin: 0;
        padding: 0;
        background-color: white;
        text-align: center;
    }

    .main-content-left {
        font-size: 5px;
        width: 100%;
        margin: 150px 0 0 0;
        padding: 0;
    }
    .boy {
        width: 100%;
        height: 300px;
        margin: 0 0 60px;
        padding: 0;
    }

    .proud-boy {
        width: 100%;
        height: 424px;
        padding-right: 50px;
    }

    .main-content-left {
        margin: 10px 0;
        align-items: center;
    }

    .main-content-left h1 {
        font-size: 25px;
        margin: -40px 20px 0;
        line-height: 32px;
    }

    .main-content-left p {
        margin: 20px;
    }

    /* main content btn */

    .main-content-btn {
        width: 100%;
        text-align: center;
        margin: 20px 0;
        justify-content: center;
    }

    .main-content-btn1, .main-content-btn2 {
        font-size: 15px;
        padding: 0px 10px;
    }

    /* about us */

    .about {
        display: flex;
        flex-direction: column;
        width: 80%;
        margin: 35px auto;
    }

    .phone-about {
        display: block;
        width: 100%;
    }

    .phone-about {
        text-align: center;
    }

    .about-text h1 {
        display: none;
    }

    .about-img {
        width: 100%;
    }

    .about img {
        width: 100%;
        height: 276px;
        margin: 35px auto;
    }

    .about-text {
        width: 100%;
    }

    .about-text p {
        font-size: 15px;
        width: 100%;
        line-height: 19px;
        margin: 0;
    }

    /* services */

    .services-container {
        width: 100%;
        height: 2450px;
    }

    .services-container h2 {
        font-size: 30px;
        margin: 0px 25px;
        padding: 30px 0 0;
        text-align: center;
    }

    .service-box {
        margin: 60px 0;
    }

    .service-item {
        width: 100%;
        margin: 10px 0 70px;
    }

    .service-item h5 {
        font-size: 22px;
        margin: 35px 0px 20px;
    }

    .service-item p {
        font-size: 16px;
        width: 100%;
        padding: 0 10px;
    }

    /* classes-card */

    .title h1 {
        font-size: 72px;
        margin: 70px 0 -40px;
        line-height: 90px;
    }

    .title h3 {
        font-size: 30px;
        line-height: 40px;
        margin: 0 0 75px;
    }

    .class-card img {
        width: 220px;
        height: 230px;
        margin: 19px 0 15px;
        border-radius: 5px;
    }

    .class-card p {
        font-weight: 0;
        margin: 0 15px;
    }

    /* contact us */

    .contact-us-title h1 {
        font-size: 55px;
        margin: 50px 10px -60px;
    }

    .contact-us-title h3 {
        font-size: 25px;
    }

    .contact-details {
        display: none;
    }

    .contact-us-container {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .request-form button {
        display: flex;
    }

    .contact-us-container {
        width: 90%;
        margin: 35px auto 65px;
    }

    .request-form h2 {
        font-size: 24px;
        margin: 30px 50px 5px;
    }

    .request-form {
        text-align: center;
    }

    .request-form p {
        font-size: 16px;
        margin: 0 20px 20px;
    }

    .request-form input {
        width: 80%;
        height: 28px;
        margin: 0 0 15px;
        font-size: 14px;
    }

    .mobile-input {
        display: inline;
    }

    .request-form textarea {
        display: none;
    }

    .request-btn {
        width: 65%;
    }
    
    .request-form button {
        width: 110px;
        height: 27px;
        font-size: 14px;
        margin: 15px 0 25px;
        padding: 12px 23px;
    }

    /* footer */

    .footer {
        width: 100%;
        justify-content: space-around;
        height: 100px;
        margin: 0;
    }

    .footer img {
        height: 60px;
        width: 80px;
        margin: 22px 0px;
    }

    .footer-contact {
        flex-direction: column;
        gap: 0;
    }

    .footer-contact h4, .footer-contact p {
        font-size: 10px;
    }

    .footer-logo {
        font-size: 12px;
        gap: 0;
    }

    .footer-logo i {
        font-size: 13px;
        margin: 0 5px;
    }




}